body{
	margin: 0px;
	padding: 0px;
}
.header{
	background: ;
	height: 150px;
}
.fold{
height: 550px;
}
.blok_1{

}
.blok_2{

}
.blok_3{

}
.blok_4{

}
.blok_5{

}
.footer{

}